@use 'base/variables' as v;

.login{
    background-color: darken(v.$white, 7%);
    width: 45%;
    padding: 4rem;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
    border-radius: 1.4rem;
    border: 5px solid v.$secundary_color;
    h2{
        color: v.$black;
        font-size: 3.8rem;
        
    }
    label{
        display: inline-block;
        font-size: 2rem;
        font-weight: 700;
        background-color: v.$secundary_color;
        padding: 1.3rem;
        color: v.$white;
        width: 80%;
        border-radius: .6rem;
    }
    &__input{
        margin-top: 1.2rem;
        width: 80%;
        padding: 1.2rem;
        font-size: 2rem;
        outline: none;
        border-radius: .6rem;
        border: 1px solid v.$black;
    }
    &__btn{
        outline: none;
        border-radius: .3rem;
        border: 2px solid v.$black;
        color: v.$white;
        padding: 1rem 3rem;
        background-color: v.$secundary_color ;
        font-weight: 700;
        transition-property: scale;
        transition-duration: 300ms;
        &:hover{
            background-color:#0620b6 ;
            cursor: pointer;
            scale: 1.05;
        }
    }
    

}