@use 'variables' as v;
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: v.$principal_font;
    font-size: 1.6rem;
}
h1{
    margin: 0;
    font-size: 3rem;
}
