@use 'variables' as v;
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: v.$principal_font;
    font-size: 1.6rem;
}
h1{
    margin: 0;
    font-size: 3rem;
}
.container{
    max-width: 100rem;
    width: 90%;
    margin: auto;
}
.disabled{
    display: none;
}
.active{
    display: block;
}
.btn-submit{
    outline: none;
    border-radius: .3rem;
    border: 2px solid v.$black;
    color: v.$white;
    padding: .8rem;
    background-color: #FE247A ;
    font-weight: 700;
    transition-property: scale;
    transition-duration: 300ms;
    &:hover{
        background-color:#F90967 ;
        cursor: pointer;
        scale: 1.05;
    }
}